<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">

    <!-- Load properties -->
    <context:property-placeholder location="classpath:application.properties"/>
    <context:component-scan base-package="com.booking" />

    <!-- Define storage initialization bean -->
    <bean id="storageBean" class="com.booking.dao.StorageBean"/>
    <bean id="objectMapper" class="com.fasterxml.jackson.databind.ObjectMapper"/>


    <bean id="storageInitializer" class="com.booking.config.StorageInitializer">
        <property name="storageBean" ref="storageBean"/>
        <property name="objectMapper" ref="objectMapper"/>
    </bean>
</beans>